@{
    ViewBag.Title = @"[DEMOS - PROGRAMACION]";
}

<style>
    .frameworkDemo {
        font-size: x-small;
    }

    .li_mark a {
        color: #808080;
    }
    .li_submark 
    {
        background-color: orangered;
        font-size       : xx-small;
    }
    .li_submark a 
    {
        color: #0000ff;
    }
</style>

<div class="main-container">
    <div class="content">
        <div class="content-body">
            <p>@ViewBag.Title</p>
        </div>
    </div>
    <hr />
    <!--::BEGIN_MENU -->
    <div class="frameworkDemo">
        <P>
            <select id="frameworkDemo">
                <option selected="selected" value="0">SELECCIONE OPCION</option>
                <option selected="selected" value="1">.NET CORE - MISCELLANEOUS</option>
                <option selected="selected" value="3">.NET CORE - MCSD</option>
                <option selected="selected" value="2">ANGULAR</option>
            </select>
        </P>
    </div>
    <!--::END_MENU -->
    <!--::BEGIN_MODULES -->
    <div style="padding-left:20px;font-size:xx-small;">
        <!-- MISCELANEOS -->
        <div id="frameworkDemo_1" style="display:none;">
             <ol id="frameworkDemo_11" style="display:inline;">
                <li>@Html.ActionLink("[ALGORITMOS - DISTANCIA MAS CORTA]"      , "_DijkstraDemo"      , "Demos")</li>
                <li>@Html.ActionLink("[ALGORITMOS - ORDENAMIENTO]"             , "_SortBenchMarkDemo" , "Demos")</li>
                <li>@Html.ActionLink("[ALGORITMOS - EXPRESIONES REGULARES]"    , "_RegExDemo"         , "Demos")</li>
                <li>@Html.ActionLink("[GENERAR ARCHIVO ZIP]"                   , "_ZipDemo"           , "Demos")</li>
                <li>@Html.ActionLink("[GENERAR ARCHIVO PDF]"                   , "_PdfDemo"           , "Demos")</li>
                <li>@Html.ActionLink("[GENERAR ARCHIVO CSV]"                   , "_CsvAsyncDemo"      , "Demos")</li>
                <li>@Html.ActionLink("[GENERAR ARCHIVO XLS]"                   , "_logDemo"           , "Demos")</li>
            </ol>
        </div>
        <div id="frameworkDemo_2" style="display:none;">
             <ol id="frameworkDemo_22" style="display:inline;">
                <li>@Html.ActionLink("ANGULAR - [TUTORIALES]"                    , "_AngularDemo"      , "Demos")</li>
                <li><a href="/wwwroot/_angular/AngularConsultaLog/">ANGULAR - [CONSULTA LOG]</a></li>
            </ol>
        </div>
        <div id="frameworkDemo_3" style="display:none;">
             <ol id="frameworkDemo_33" style="display:inline;">
                <li>@Html.ActionLink("[MCSD CERTIFICATION EXAMS]"     , "_MCSD_Demo"      , "Demos")</li>
            </ol>
        </div>
    </div>
    <!--::END_MODULES -->
    <hr />
    <a>@Html.ActionLink("[HOME]", "Index", "Home")</a>
</div>

<script>
    //
    $(document).ready(function () {
        //
        console.log('[DEMOS - PROGRAMACION]');
        //
        _SetUI();
        //
        _EvalUrl();
    })
    //
    $("#frameworkDemo").change(function () {
        //
        var selectedValue = $("#frameworkDemo").val();
        //
        console.log("Selected Value " + selectedValue);
        //
        _SelectItem(selectedValue);
    });
    //
    function _SetUI()
    {
        //
        $("#frameworkDemo_1").attr("style", "display:none;");
        $("#frameworkDemo_2").attr("style", "display:none;");
        $("#frameworkDemo_3").attr("style", "display:none;");
    }
    //
    function _EvalUrl() {
        //
        var queries       = {};
        var selectedValue = 0;
        //
        $.each(document.location.search.substr(1).split('&'), function (c, q) {
            //
            var i = q.split('=');
            //
            if (i.length > 1)
            {
                //
                queries[i[0].toString()] = i[1].toString();
                //
                console.log('ITERATION : ' + '[' + c + ']=' + q);
                //
                console.log('URL : ' + '[' + i[1].toString() + ']=' + queries[i[0].toString()]);
            }
        });
        //
        if (queries["lang"] != null) {
            //
            selectedValue = queries["lang"];
            //
            console.log('Selected Item : ' + selectedValue);
        }
        //
        $("#frameworkDemo").val(selectedValue);
        //
        _SelectItem(selectedValue);
    }
    //
    function _SelectItem(selectedValue)
    {
        switch (selectedValue) {
            //
            case "0":
                //
                $("#frameworkDemo_1").attr("style", "display:none;");
                $("#frameworkDemo_2").attr("style", "display:none;");
                $("#frameworkDemo_3").attr("style", "display:none;");
                //
                console.log($("#frameworkDemo_1").attr("style"));
                //
                break;
            case "1":
                //
                $("#frameworkDemo_1").attr("style", "display:inline;");
                $("#frameworkDemo_2").attr("style", "display:none;");
                $("#frameworkDemo_3").attr("style", "display:none;");
                //
                console.log($("#frameworkDemo_2").attr("style"));
                //
                break;
            case "2":
                //
                $("#frameworkDemo_1").attr("style", "display:none;");
                $("#frameworkDemo_2").attr("style", "display:inline;");
                $("#frameworkDemo_3").attr("style", "display:none;");
                //
                console.log($("#frameworkDemo_2").attr("style"));
                //
                break;
            case "3":
                //
                $("#frameworkDemo_1").attr("style", "display:none;");
                $("#frameworkDemo_2").attr("style", "display:none;");
                $("#frameworkDemo_3").attr("style", "display:inline;");
                //
                console.log($("#frameworkDemo_3").attr("style"));
                //
                break;
        }

    }

</script>